.item {

}
.header_img {
	text-align: center;
}
.header_img > img{
	margin: 0 auto;
	height: 25rem;
}
.item_price {

}
.eprice {
	margin-top: 0.5rem;
	float: left;
	overflow: hidden;
	font-size: 1.3rem;
	color: #000000;
	padding-left: 1em;
	line-height: 2rem;
}
.rprice {
	float: right;
	overflow: hidden;
	font-size: 3rem;
	color: #E6433B;
	padding-right: 1em;
	line-height: 3rem;
	clear: both;
	margin-bottom: 1rem;
}
.item_descr {
	clear: both;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 0.4rem;
	background: #F1F1F1;
	padding: 0.5rem;
}
.notice {
	font-size: 1rem;
	margin-top: 0.4rem;
}
.buttons {
	margin-top: 1rem;
	text-align: center;
}
.buttons > button {
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}
.iwant {
	margin-top: 2.5em;
	margin-bottom: 2em;
	text-align: center;
}
.iwant a {
	color: #000000;
	font-size: 2rem;
}

#tips {
	height: 100%;
	margin: 6em auto;
	display: none;
}