.reg-form {
	margin-top: 3em;
}

.login-form {
	margin-top: 4em;
}

.message {
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
	font-size: 1.8rem;
}

.footer {
	position: absolute;
	bottom: 3em;
	width: 90%;
}